[Unit]
Description=Run ALMSIVIserver durable job worker

[Timer]
OnBootSec=15s
OnUnitInactiveSec=1s
AccuracySec=100ms
RandomizedDelaySec=0
Persistent=true
Unit=almsiviserver-worker.service

[Install]
WantedBy=timers.target
